.DS_Store
.zcompdump
ssh/
.config/zsh/.zsh_sessions/
.envrc
*cache*
.env
atuin_key
**/themes/
**/current/
.zsh_history
**/envs/
**/scratch/
nvm/
SEGGER/
*.bak*
linux/.config/hypr/hyprland/hw
btop.conf
*target.wants
# common/.config/codex/sessions/2025
# common/.config/codex/history.jsonl
# common/.config/codex/version.json
# common/.config/codex/auth.json
SEGGERJLinkRTTViewerSettings.ini
# dtsh/history
linux/.config/ly/save.txt
**/codex/shell_snapshots
**/codex/sessions*
**/codex/history*
**/codex/version*
**/codex/auth*
**/codex/tmp*
log
**/tmux/plugins
