.DS_Store
.zcompdump
ssh/
.config/zsh/.zsh_sessions/
.envrc
*cache*
.env
atuin_key
**/themes/
**/current/
.zsh_history
**/envs/
**/scratch/
nvm/
SEGGER/
*.bak*
linux/.config/hypr/hyprland/hw
btop.conf
*target.wants
common/.config/codex/sessions/2025
common/.config/codex/history.jsonl
common/.config/codex/version.json
common/.config/codex/auth.json
linux/.config/SEGGERJLinkRTTViewerSettings.ini
common/.config/dtsh/history
common/.config/codex/shell_snapshots
linux/.config/ly/save.txt
