.DS_Store
tmux/plugins/
raycast
.zcompdump
fzf
history.txt
.luarc.json
ssh/
.config/zsh/.zsh_sessions/
.envrc
.env
atuin_key
themes/
.config/hypr/current/
.config/wikiman/sources
.config/omarchy/current
