[user]
	name = Ale Alfaro
	email = ale16alfaro@gmail.com
[pull]
  rebase = true
[alias]
  st = status -s
  lol = log --oneline --graph --all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	diff = diffnav
[gpg]
  program = gpg2
[column]
  ui = auto
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[push]
  default = simple
	autoSetupRemote = true
[fetch]
	prune = true
[branch]
	sort = -committerdate
[advice]
	skippedCherryPicks = false
[credential "https://github.com"]
	helper = 
	helper = !/home/alealfaro/.local/share/mise/installs/gh/2.90.0/gh_2.90.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
  helper = !/home/alealfaro/.local/share/mise/installs/gh/2.90.0/gh_2.90.0_linux_amd64/bin/gh auth git-credential
