set shell := ['zsh', '-uc']

mod zephyr x'${JUST_HOME}/zephyr.just'

west := require('west')

@_:
    just --list

board := env('BOARD', `west config get build.board`)
app_dir := env('APP_DIR', 'app')
build_dir := app_dir / "build" / board
build_dir_rm := if path_exists(build_dir) == 'true' { f'rm -r {{build_dir}}' } else { '' }
clean := '0'
target := ''
pristine := if clean == '1' { "always" } else { "auto" }
build_flags := f"{{if board != '' { '-b ' + board } else { '' }}} --pristine={{pristine}} {{if target != '' { '-t ' + target } else { '' }}}"

[group('build')]
[working-directory(x"${WEST_TOPDIR}/${APP_DIR}")]
build target='':
    {{ if clean == '1' { build_dir_rm } else { '' } }}
    -{{ west }} build  {{ build_flags }}

[arg('img', pattern='app|mcuboot')]
[group('utils')]
[working-directory(x"${WEST_TOPDIR}/${APP_DIR}")]
config img="app":
    {{ west }} build {{ build_flags }} -d {{ "build" / img }} -t menuconfig

dtsh: (zephyr::dtsh-sh build_dir / "app")

dts_tree: (zephyr::dtsh-tree build_dir / "app")

dts_ls: (zephyr::dtsh-ls build_dir / "app")

dts_find ord: (zephyr::dtsh-find build_dir / "app" ord)
