layout {
    pane_template name="serial-tty" command="minicom" {
        start_suspended true
    }
    pane split_direction="vertical" size="100%" {
        serial-tty {
            args "-D /dev/ttyACM0"
        }
        serial-tty {
            args "-D /dev/ttyACM1"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
