# SPDX-License-Identifier: Apache-2.0

zephyr_library()

zephyr_library_sources({{ chip }}.c)
zephyr_library_sources_ifdef(CONFIG_SENSOR_ASYNC_API    {{ chip }}_rtio.c {{ chip }}_decoder.c)
{% if streaming %}
zephyr_library_sources_ifdef(CONFIG_{{ chip_upper }}_TRIGGER {{ chip }}_trigger.c)
zephyr_library_sources_ifdef(CONFIG_{{ chip_upper }}_STREAM  {{ chip }}_stream.c)
{% endif %}
