[Desktop Entry]
Version=1.0
Name=Neovim
Comment=Neovim
Exec=xdg-terminal-exec --app-id=TUI.tile -e /home/alealfaro/.local/share/mise/shims/nvim -- %F
Terminal=false
Type=Application
Icon=/home/alealfaro/.local/share/applications/icons/neovim-mark.png
StartupNotify=true
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-js;
